<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>UI Ordering</title>
    <link href="/css/eotl.css" type="text/css" rel="stylesheet" />
    <link href="/src/assets/ui-ordering.css" type="text/css" rel="stylesheet" />
  </head>
  <body class="light-mode">
    <div class="container pt-3">
      <header class="navbar navbar-expand-lg navbar-app mb-5">
        <a href="/" aria-current="page" class="navbar-app">
          <span class="d-none d-sm-inline-block">UI Ordering</span>
        </a>
        <button
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto position-relative">
            <li class="nav-item">
              <a
                href="/#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="nav-link dropdown-toggle"
              >
                <img v-if="window.orderingConfig.iconPath" src="/images/icons/globe.svg" /> en
              </a>
              <div aria-labelledby="open-disptach" class="dropdown-menu">
                <a href="#de" class="dropdown-item"> de </a>
                <a href="#de" class="dropdown-item"> en </a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <noscript>
        <strong
          >We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to
          continue.</strong
        >
      </noscript>
      <div id="app"></div>
      <hr class="thick" />
      <div class="my-5">
        <h3>About</h3>
        <p>
          The ordering interface above is an open-source library that is meant to be included in a static HTML site, or
          perhaps plugins for existing CMS or publishing tools (WordPress, etc.)
        </p>
        <ul>
          <li>User interface is generated 100% via JavaScript (Vue.js)</li>
          <li>
            Category and Item data is from an
            <a href="https://eotl.network/tech/open-inventory">Open Inventory</a> JSON API
          </li>
          <li>
            CSS is rendered with <code>ui-ordering.css</code> which allows for <em>some</em> customization with CSS
            variables
          </li>
          <li>
            Styling integrates with Bootstrap 4 (but does not require) as seen on this page with
            <a href="https://codeberg.org/eotl/bootstrap-theme">EOTL's theme</a>
          </li>
        </ul>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6">
          <h3>Depedencies</h3>
          <p>TBA...</p>
        </div>
        <div class="col-lg-6">
          <h3>Config</h3>
          <p>TBA...</p>
        </div>
      </div>
      <p>
        <a href="https://codeberg.org/eotl/ui-ordering">ui-ordering</a> interface created by
        <a href="https://eotl.network">EOTL</a>
      </p>
    </div>
    <script>
      window.orderingConfig = {
        dispatchUrl: 'http://localhost:8080',
        inventoryUrl: 'http://localhost:8080',
        coordinator: 'testing',
        api: '/fixtures',
        api_ending: '.json',
        lang: 'en',
        currency: '€',
        iconPath: '/images/icons/',
        imagePath: '/items/simple/',
        layout: 'list',
        checkoutHeader: true,
        checkoutType: 'priced',
      }
    </script>
    <script type="module" src="/src/main.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
