<template>
    <div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img v-if="store.config.iconPath" class="invert float-left mr-4" :src="categoryIcon" height="48" />
                <h2 class="mb-3">
                    {{ categoryId }}
                </h2>
                <router-link :to="{ name: 'ordering:home' }">
                    <p>{{ $t('backCategories') }}</p>
                </router-link>
            </div>
            <YourCart />
        </div>
        <hr />
        <section id="items">
            <ItemList :category-id="categoryId"></ItemList>
        </section>
    </div>
</template>

<script>
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import { useStore } from '@/store'
import YourCart from '@/components/YourCart.vue'
import ItemList from '@/components/ItemList.vue'

export default {
    name: 'Category',
    components: {
        YourCart,
        ItemList,
    },
    props: { categoryId: { type: String, required: true } },
    setup() {
        const store = useStore()
        const route = useRoute()

        const categoryIcon = ref(store.config.iconPath + route.params.categoryId + '.svg')

        return {
            store,
            categoryIcon
        }
    },
}
</script>
