<template>
    <div>
        <div class="row mb-3">
            <div class="col-6">
                <h2>
                    {{ $t('checkout.yourOrder') }}
                </h2>
                <router-link :to="{ name: 'ordering:home' }">
                    {{ $t('backCategories') }}
                </router-link>
            </div>
            <div class="col-6 text-right">
                <h2>{{ totalCount }} {{ $t('items') }}</h2>
                <span v-if="store.config.checkoutType == 'priced'">
                    €{{ totalCost.toFixed(2) }}
                </span>
            </div>
        </div>

        <template v-if="count">
            <ContributionTypeToggle v-if="store.config.checkoutType == 'contribution'"></ContributionTypeToggle>
            <div class="checkout-items">
                <div v-for="item in store.order" :key="item.id">
                    <CheckoutItem :item="item" @remove="removeItem" @update-quantity="updateQuantity" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Details</h3>
                    <p>Will you you picking it up your order or
                        do you want it delivered?</p>

                    <div class="form-group">
                        <label for="fullfilment">Choose one</label>
                        <select class="form-control" id="fullfilment">
                            <option value="pickup">Pickup</option>
                            <option value="delivery">Delivery</option>
                            <option value="unsure">Unsure</option>
                        </select>
                    </div>

                    <p>Are you interested in helping support others who can't
                        afford normal prices? Or do you need financial support
                        yourself? Adjust the solidarity slider.</p>

                    <div class="form-group">
                        <label for="solidarityRange">
                            Social Funding (Price x {{ solidarity }})
                        </label>
                        <input type="range" min="0" max="2" step="1"
                            :value="solidarity"
                            :onInput="solidarityRange"
                            class="form-control-range" id="solidarityRange">
                    </div>
                </div>
                <div class="col-lg-6">
                    <Pickup />
                </div>
            </div>
        </template>
        <template v-else>
            <div class="checkout-items-empty">
                <h3>{{ $t('checkout.noItems') }}</h3>
                <p>{{ $t('checkout.noItemsInCart') }}</p>
            </div>
        </template>
    </div>
</template>

<script>
import { ref, toRef, computed } from 'vue'

import { useStore } from '@/store'
import CheckoutItem from '@/components/CheckoutItem.vue'
import ContributionTypeToggle from '@/components/ContributionTypeToggle.vue'
import Pickup from '@/components/Pickup.vue'

export default {
    name: 'Checkout',
    components: {
        CheckoutItem,
        ContributionTypeToggle,
        Pickup,
    },
    setup() {
        const store = useStore()
        const count = toRef(() => store.order.length)
        const solidarity = ref(1)

        const totalCount = computed(() => {
            return store.order.reduce((sum, current) => {
                return sum + current.quantity
            }, 0)
        })

        const totalCost = computed(() => {
            return store.order.reduce((sum, current) => {
                return sum + (current.cost * current.quantity)
            }, 0)
        })

        return {
            store,
            count,
            solidarity,
            totalCount,
            totalCost
        }
    },
    methods: {
        solidarityRange(event) {
           this.solidarity = event.target.value 
        }
    }
}
</script>
