<template>
    <div>
        <div v-if="store.config.checkoutHeader" class="row mb-0">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img v-if="store.config.iconPath" class="invert float-left mr-4" :src="store.config.iconPath + 'home.svg'" height="48" />
                <h2 class="mb-3">
                    {{ $t('welcome') }}
                </h2>
                <p class="text-muted">
                    {{ $t('chooseCategory') }}
                </p>
            </div>
            <YourCart />
        </div>
        <div v-if="store.config.layout == 'pages'" class="categories">
            <div v-for="cat in categories" :key="cat.id" class="category">
                <router-link :to="{ name: 'ordering:category', params: { categoryId: cat.id } }">
                    <img v-if="store.config.iconPath" :src="store.config.iconPath + cat.id + '.svg'" />
                    <h2>{{ cat.id }}</h2>
                </router-link>
            </div>
        </div>
        <div v-else-if="store.config.layout == 'list'">
            <div v-for="category in categories" :key="category.id" class="mb-5">
                <div class="category-header">
                    <div class="title">
                        <h2>{{ category.id }}</h2>
                    </div>
                    <div class="icon">
                        <img v-if="store.config.iconPath" :src="store.config.iconPath + category.id + '.svg'" />
                    </div>
                </div>
                <ItemList :categoryId="category.id"></ItemList>
            </div>
        </div>
        <div v-else>
            <h2>Layout Unknown</h2>
            <p>ui-ordering is configured with an unknown 'layout' value</p>
        </div>
    </div>
</template>

<script>
import { defineComponent, ref } from 'vue'

import ItemList from '@/components/ItemList.vue'
import YourCart from '@/components/YourCart.vue'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default defineComponent({
    name: 'Home',
    components: {
        YourCart,
        ItemList,
    },
    setup() {
        const store = useStore()
        const categories = ref(store.categories)
        const size = ref('md')

        return {
            store,
            categories,
            size,
        }
    },
    created() {
        this.store.fetchCategories()
    }
})
</script>
