<template>
    <div>
        <div v-if="checkoutHeader" class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img v-if="store.config.iconPath" class="invert float-left mr-4" :src="iconPath + category + '.svg'" height="48" />
                <h2 class="mb-3">
                    {{ category }}
                </h2>
                <router-link :to="{ name: 'ordering:home' }">
                    <p>{{ $t('backCategories') }}</p>
                </router-link>
            </div>
            <YourCart />
        </div>
        <hr />
        <section>
            <h2>{{ itemId }}</h2>
            <Item></Item>
        </section>
    </div>
</template>

<script>
import { useStore } from '@/store'
import YourCart from '@/components/YourCart.vue'
import Item from '@/components/Item.vue'
import { toRef } from 'vue'

export default {
    name: 'ItemDetails',
    components: {
        YourCart,
        Item,
    },
    props: { itemId: { type: String, required: true } },
    setup() {
        const store = useStore()

        return {
            iconPath: store.iconPath,
            checkoutHeader: store.checkoutHeader,
            setItems(cat) {
                store.fetchItems(cat.id)
            },
            category: toRef(() => this.$route.query.cat),
        }
    },
}
</script>
