<template>
    <div>
        <div v-if="store.checkoutHeader" class="row mb-0">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img v-if="store.config.iconPath" class="invert float-left mr-4" :src="store.config.iconPath + 'home.svg'" height="48" />
                <h2 class="mb-3">
                    {{ $t('welcome') }}
                </h2>
                <p class="text-muted">
                    {{ $t('chooseCategory') }}
                </p>
            </div>
            <YourCart />
        </div>
        <hr />
        <div class="categories">
            <div v-for="cat in categories" :key="cat.id" class="category">
                <router-link :to="{ name: 'ordering:items', query: { cat: cat.id } }" class="position-relative">
                    <img v-if="store.config.iconPath" :src="store.config.iconPath + cat.id + '.svg'" />
                    <h2>{{ cat.id }}</h2>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import { onCreated } from 'vue'
import { useRoute } from 'vue-router'
import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

import YourCart from '@/components/YourCart.vue'
import { ref } from 'vue'
import { watch } from 'vue'

export default {
    components: {
        YourCart,
    },
    props: ['item', 'preselectedSize', 'value'],
    setup() {
        const eotlStore = useEotlCore()
        const store = useStore()
        const route = useRoute()
        const categories = ref([])

        const getCategories = async () => {
            const res = await eotlStore.fetchGet('/categories')

            if (res.status === 'success') {
                categories.value = res.data.value
            } else {
                eotlStore.alertWarning(`There was an error getting the list of categories. ${res.error.value}`)
            }
        }

        onCreated(getCategories)

        // always fetch items of current category
        watch(
            () => route.query.cat,
            (categoryId) => {
                if (categoryId) store.fetchItems(categoryId)
            },
            { immediate: true },
        )

        return { store }
    },
}
</script>
