<template>
    <div class="checkout-item row mx-auto">
        <div class="icon col-sm-4 col-md-3 col-lg-1">
            <img v-if="store.config.iconPath" class="invert" :src="containerIcon(item)" />
        </div>
        <div class="item col-sm-8 col-md-9 col-lg-6">
            <strong>{{ itemTitle(item) }}</strong> &nbsp;
            <span>{{ $t('sizes.' + item.size) }}</span>
        </div>
        <div class="pricing col-sm-12 col-lg-2">
            <span v-if="store.config.checkoutType == 'priced'"> €{{ item.cost.toFixed(2) }} </span>
            <span v-if="store.config.checkoutType == 'contribution'">
                €<input :value="contribution" @input="updateContribution" />
            </span>
        </div>
        <div class="quantity col-sm-6 col-lg-1">
            <input size="2" type="number" step="1" min="1" class="form-control form-control-sm" :value="item.quantity" @input="updateQuantity($event, item)" />
        </div>
        <div class="remove col-sm-6 col-lg-2">
            <button class="btn btn-primary btn-sm ml-2 " @click="removeItem(item)">
                {{ $t('btns.removeItem') }}
            </button>
        </div>
    </div>
</template>

<script>
import { computed, onMounted } from 'vue'
import { Containers } from '@eotl/core/enums'
import { useStore } from '@/store'

export default {
    props: ['item'],
    setup(props) {
        const store = useStore()

        const contribution = computed(() => {
            const orderItem = store.order.find(orderItem => orderItem.item === props.item.item)
            return orderItem ? orderItem.contribution : 0
        })

        onMounted(() => {
            console.log('item mounted? ', props.item)
        })

        const containerIcon = (item) => {
            if (item.measurement == 'grams') {
                return store.config.iconPath + 'grams.svg'
            } else if (item.measurement == 'liquid') {
                return store.config.iconPath + 'liquid.svg'
            } else {
                return store.config.iconPath + 'box-sm-front.svg'
            }
        }

        const itemTitle = (item) => {
            const trans = item.translations.filter((trans) => trans.lang == store.config.lang)
            return trans[0].translation
        }

        return {
            store,
            containers: Containers,
            contribution,
            containerIcon,
            itemTitle,
        }
    },
    methods: {
        updateContribution(e) {
            this.store.updateItemContribution({
                itemID: props.item.item,
                input: e.target.value,
            })
        },
        updateQuantity(e, item) {
            this.store.updateItemQuantity({
                itemID: item.item,
                quantity: parseInt(e.target.value),
            })
        },
        removeItem(item) {
            this.store.removeFromOrder(item.item)
        },
        itemImage(item) {
            let img = this.item.item + '.jpg'
            if (this.item.img) {
                img = this.item.img
            }
            return store.config.imagePath + img
        }
    }
}
</script>
