<template>
    <div>
        <h3>
            {{ $t('checkout.howContribute') }}
        </h3>
        <div class="row">
            <div class="col-lg-4">
                <button class="btn btn-primary btn-block" :class="{ active: !store.perOrder }" @click="toggle">
                    {{ $t('btns.perItem') }}
                </button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary btn-block" :class="{ active: store.perOrder }" @click="toggle">
                    {{ $t('btns.perOrder') }}
                </button>
            </div>
        </div>
        <hr />
    </div>
</template>

<script>
import { useStore } from '@/store'

export default {
    setup() {
        const store = useStore()

        return {
            toggle() {
                store.perOrder = !store.perOrder
            },
        }
    },
}
</script>
