<template>
    <table class="details">
        <thead>
            <tr>
                <td>
                    <small>{{ $t('details.basePrice') }}</small>
                </td>
                <td>
                    <small>{{ $t('details.quality') }}</small>
                </td>
                <td>
                    <small>{{ $t('details.allergens') }}</small>
                </td>
                <td>
                    <small>{{ $t('details.shops') }}</small>
                </td>
            </tr>
        </thead>
        <tr v-for="specific in item.inventoryItems" :key="specific.id">
            <td>{{ currency }}{{ specific.price }} per {{ specific.units }} {{ item.item.measurement }}</td>
            <td>
                {{ $t('details.organic') }}
            </td>
            <td></td>
            <td>
                <a :href="store.config.inventoryUrl + '/suppliers/' + specific.supplier" target="_blank">
                    {{ specific.supplier }}
                </a>
            </td>
        </tr>
    </table>
</template>

<script>
import { useStore } from '@/store'

export default {
    props: ['size', 'item', 'itemContainers', 'currency'],
    setup() {
        const store = useStore()
        return { store }
    },
}
</script>
