<template>
    <ul>
        <li v-for="option in containers.solid" :key="option.id">
            <img v-if="store.config.iconPath" class="invert" :src="store.config.iconPath + option.icon" />
            <label for="">
                <input
                    v-model="selected"
                    type="radio"
                    :disabled="itemSelected"
                    :value="option.size"
                    @input="updateValue(option.size)"
                />
                {{ $t(option.label) }}
            </label>
        </li>
    </ul>
</template>

<script>
import { ref } from 'vue'
import { Containers } from '@eotl/core/enums'
import { useStore } from '@/store'

export default {
    name: 'InputSolid',
    props: ['item', 'preselectedSize', 'value', 'itemSelected'],
    emits: ['input'],
    setup(props) {
        const store = useStore()

        return {
            store,
            containers: Containers,
            selected: ref(props.preselectedSize),
        }
    },
    methods: {
        updateValue: function (value) {
            this.$emit('input', value)
        },
        updateCount: function () {
            console.log('updateCount: ', this.$emit('input'))
        },
    },
}
</script>
