<template>
    <div class="item">
        <div class="image">
            <img v-if="store.config.iconPath" v-bind="itemImage" />
        </div>
        <div class="info">
            <h4>
                <a v-if="store.hasRemoteInventoryUrl" :href="store.config.inventoryUrl + '/items/' + data.item.id">
                    {{ itemTitle(data) }}
                </a>
                <router-link v-else :to="store.config.inventoryUrl + '/items/' + data.item.id">
                    {{ itemTitle(data) }}
                </router-link>
            </h4>
            <div v-if="data.item.measurement == 'grams'" class="choose-size">
                <InputSolid
                    v-model="size"
                    :item="data"
                    :preselected-size="size"
                    :item-selected="selected"
                >
                </InputSolid>
            </div>
            <div v-else-if="data.item.measurement == 'litre'" class="choose-size">
                <InputLiquid
                    v-model="size"
                    :item="data"
                    :preselected-size="size"
                    :item-selected="selected"
                >
                </InputLiquid>
            </div>
            <div v-else-if="data.item.measurement == 'item'" class="choose-size">
                <label for="">
                    <input
                        type="number"
                        size="2"
                        :min="data.item.units"
                        :value="data.item.units"
                        @input="updateCount()"
                    />
                    {{ $t('count') }}
                </label>
            </div>
            <div v-else class="choose-size">
                {{ $t('unusualItem') }}
            </div>

            <template v-if="store.config.checkoutType == 'priced'">
                <DetailsTable :size="size" :item="data" :containers="containers">
                </DetailsTable>
            </template>
        </div>
        <div class="actions">
            <template v-if="store.config.checkoutType == 'priced'">
                <PriceEstimateBox :price="avgVolPrice.toFixed(2)" :currency="currency">
                </PriceEstimateBox>
            </template>
            <button class="button button-full" @click="toggleSelection">
                {{ buttonLabel }}
            </button>
        </div>
    </div>
</template>

<script>
import { useStore } from '@/store'
import { Containers } from '@eotl/core/enums'

import InputSolid from '@/components/InputSolid.vue'
import InputLiquid from '@/components/InputLiquid.vue'
import DetailsTable from '@/components/DetailsTable.vue'
import PriceEstimateBox from '@/components/PriceEstimateBox'
import { computed, ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'

export default {
    components: {
        InputSolid,
        InputLiquid,
        DetailsTable,
        PriceEstimateBox,
    },
    props: ['data', 'itemSize', 'currency'],
    setup(props) {
        const store = useStore()
        const i18n = useI18n()

        const hasImage = computed(() => {
            //let img = props.data.item.id + '.jpg'
            let status = false
            if (props.data.details != undefined && props.data.details.length > 0) {
                this.image = props.data.details[0].img
                status = true
            }
            return status
        })

        const avgVolPrice = computed(() => {
            // calculate average price for selected Volume
            
            let unitAvg = ''
            let unitSize = ''
            let selectedVolumeMultipler = ''
            let averageVolumePrice = 1

            if (props.data.item.measurement == 'item') {
                averageVolumePrice = props.data.inventoryItems[0].price * props.data.item.units
            }
            else if (props.data.item.measurement != 'item') {
                unitAvg = props.data.inventoryItems.reduce((acc, cur) => acc + cur.price, 0) / props.data.inventoryItems.length

                console.log('Containers', Containers)
                console.log('measurement', props.data.item.measurement)
                console.log('size', props.itemSize)
                unitSize = Containers[props.data.item.measurement][props.itemSize]

                console.log('unitSize', unitSize)

                selectedVolumeMultipler = unitSize / this.data.item.units
                averageVolumePrice = unitAvg * selectedVolumeMultipler
            }
            return averageVolumePrice    
            // return 3.14
        })

        const itemImage = computed(() => ({
            src: hasImage.value ? 'yolo.png' : store.config.iconPath + props.data.item.categoryId + '.svg',
            class: hasImage.value ? 'blah' : 'placeholder',
        }))

        const size = ref(props.itemSize)
        const selected = ref(false)
        watch(
            () => props.itemSize,
            (newSizeProp) => (size.value = newSizeProp),
        )

        return {
            store,
            containers: Containers,
            avgVolPrice,
            size,
            itemImage,
            selected,
            itemCount: ref(1),
            image: ref(''),
            buttonLabel: ref(i18n.t('btns.addItem')),
            itemTitle: function (item) {
                var trans = item.translations.filter((trans) => trans.lang == store.config.lang)
                return trans[0].translation
            },
            toggleSelection: function () {
                selected.value = !selected.value
                if (selected.value) {
                    store.addToOrder({
                        item: props.data.item.id,
                        size: this.size,
                        quantity: 1,
                        cost: avgVolPrice.value,
                        status: 'inCart',
                        contribution: 0,
                        translations: props.data.translations,
                    })
                    this.buttonLabel = i18n.t('btns.removeItem')
                } else {
                    store.removeFromOrder(props.data.item.id)
                    this.buttonLabel = i18n.t('btns.addItem')
                }
            },
        }
    },
}
</script>
