<template>
    <div>
        <ul v-if="store.items" class="items">
            <template v-for="item of store.items">
                <li v-if="item.item.categoryId == categoryId" :key="item.id" class="">
                    <Item :data="item" :item-size="size"></Item>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
import { useStore } from '@/store'
import Item from '@/components/Item.vue'

export default {
    components: {
        Item,
    },
    props: ['categoryId'],
    setup() {
        const store = useStore()
        return {
            store,
            size: 'md',
        }
    },
    watch: {
        categoryId() {
            this.store.fetchItems(this.categoryId)
        },
    },
    created() {
        console.log('ItemList created...')
        this.store.fetchItems(this.categoryId)
    }
}
</script>
