<template>
    <form>
        <h3>Pickup</h3>
        <p>Ok, you will be collecting your order yourself. Please tell us the
            following information so we can be ready for your pickup.</p>
        <div class="form-group">
            <label for="name">{{ $t('checkout.yourName') }}</label>
            <input class="form-control" id="name" :value="store.name" @input="updateName" />
        </div>
        <div class="form-group">
            <label for="coordinator">{{ $t('checkout.pickupPerson') }}</label>
            <select class="form-control" id="coordinator" :value="store.pickupBuddy" @input="updatePickupBuddy">
                <option value="eotl">
                    EOTL
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="message">{{ $t('checkout.note') }}</label>
            <textarea class="form-control" id="message" :value="store.message" @input="updateMessage"></textarea>
        </div>
        <button class="btn btn-primary btn-block" @click="postOrder">
            {{ $t('btns.placeOrder') }}
        </button>
    </form>
</template>

<script>
import { useI18n } from 'vue-i18n'

import { useStore } from '@/store'

export default {
    setup() {
        const store = useStore()
        const i18n = useI18n()

        return {
            store,
            updateName(e) {
                store.name = e.target.value
            },
            updateMessage(e) {
                store.message = e.target.value
            },
            updatePickupBuddy(e) {
                store.pickupBuddy = e.target.value
            },
            postOrder() {
                const items = store.order.map((object) => {
                    return (({ contribution, cost, item, size, quantity }) => ({
                        contribution,
                        cost,
                        item,
                        size,
                        quantity,
                    }))(object)
                })

                if (store.name) {
                    // FIXME: this alert is shown everytime a contact person name is inserted. it should only be shown when a contact name is missing.
                    alert(i18n.t('checkout.validateName'))
                } else if (!store.pickupBuddy) {
                    alert(i18n.t('checkout.validatePickupBuddy'))
                } else {
                    const pickupData = {
                        coordinator: this.config.coordinator,
                        from: store.name,
                        to: store.pickupBuddy,
                        message: store.message,
                        order: items,
                    }

                    console.log('sumbit pickupData:', pickupData)

                    fetch(this.config.dispatchUrl, {
                        method: 'post',
                        headers: {
                            Accept: 'text/plain',
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(pickupData)
                    })
                }
            }
        }
    }
}
</script>
