<template>
    <div class="item-estimated-price">
        {{ $t('estimatedPrice') }}<br />
        <span>{{ currency }}{{ price }}</span>
    </div>
</template>

<script>
export default {
    props: ['price', 'currency'],
}
</script>
