<template>
    <div class="col-sm-12 col-md-6 col-lg-6 text-right">
        <img v-if="store.config.iconPath" class="invert float-right ml-4" height="48" :src="store.config.iconPath + 'box.svg'" />
        <h2 class="mb-3">
            {{ $t('yourCart') }}
        </h2>
        <router-link :to="{ name: 'ordering:checkout' }">
            <p>{{ store.order.length }} {{ $t('items') }}</p>
        </router-link>
    </div>
</template>

<script>
import { useStore } from '@/store'

export default {
    setup() {
        const store = useStore()
        return { store }
    },
}
</script>
