/* Categories */
div.category-header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0rem;

    div.title {
        justify-content: center;
        align-self: start;
    }

    div.icon {
        text-align: right;
        align-self: end;
    }
}

div.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0rem;

    margin-left: 0px !important;
    margin-right: 0px !important;

    div.category {
        height: 200px;
        border: 1px solid var(--color-text);
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-color: var(--color-page-background) !important;
            color: var(--color-text) !important;

            img {
                display: block;
                margin: 0 auto 2rem auto;
                filter: var(--svg-filter);
            }

            h2 {
                font-size: 21px;
            }

            &:hover {
                background-color: var(--color-page-background-inverse) !important;
                color: var(--color-text-inverse) !important;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;

                img {
                    filter: var(--svg-filter-inverse);
                }

                h2 {
                    color: var(--color-text-inverse) !important;
                }
            }
        }
    }
}
