/* Checkout */

div.checkout-items {
    border-bottom: 1px solid var(--color-text-dark);
    margin-bottom: 2rem;
}

div.checkout-item {
    border-top: 1px solid var(--color-text-dark);

    div.icon {
        /* TODO
        sm    @include make-col(6);
        md    @include make-col(2);
        lg    @include make-col(2);
         */

        padding: .75rem 0;
        text-align: left;

        img {
            height: 36px;
        }

        img.item-image {
            width: 200px;
            height: auto;
            line-height: 2;
            color: var(--color-text-medium);
        }
    }

    div.item {
        /* TODO
        sm    @include make-col(6);
        md    @include make-col(6);
        lg    @include make-col(6);
        */

        padding: .75rem 0;
        text-align: left;
    }

    div.pricing {
        /* TODO
        sm    @include make-col(12);
        md    @include make-col(4);
        lg    @include make-col(4);
        */

        padding: .75rem 0;
        text-align: left;
    }
    div.quantity {
        /* TODO
        sm    @include make-col(12);
        md    @include make-col(2);
        lg    @include make-col(2);
        */

        padding: .75rem 0;
        justify-content: end;
        text-align: right;
    }

    div.remove {
        padding: .75rem 0;
        justify-content: end;
        text-align: right;
    }

}
