/* Items */
ul.items {
    list-style-type: none !important;
    margin: 0;
    padding: 0;

    li::before {
        content: '';
        display: inline;
        width: 0;
        margin: 0;
    }

    div.item {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
        grid-template-columns: minmax(250px, 25%) auto minmax(150px, 15%);
        gap: 1.5rem;
        padding-bottom: 1.5rem;

        div.image {
            text-align: center;
            background-color: var(--color-light);

            img {
                max-width: 200px;
                height: auto;
                display: block;
                position: relative;
                font-family: 'Roboto-Regular';
                font-weight: 300;
                line-height: 2;
                color: var(--color-text-medium);

                &.placeholder {
                    max-width: 100px;
                    max-height: 100px;
                    margin: 1rem auto;
                    opacity: 0.4;
                }
            }

            &:before {
                display: block;
                padding-top: 2.5rem;
            }

            &:after {
                content: 'No image available';
                display: block;
                font-size: 12px;
                padding-bottom: 2.75rem;
                color: var(--color-text-medium);
            }
        }

        div.info {
            /* col-sm-12 col-md-6 col-lg-7 */
            div.choose-size {
                ul {
                    margin: 0 auto 1.5rem auto;
                    padding: 0;

                    li {
                        display: inline-block;

                        img {
                            height: 30px;
                        }
                    }
                }
            }

            table.details {
                width: 100%;

                thead {
                    tr {
                        td {
                            font-size: 0.7rem;
                            color: var(--color-text-medium);
                        }
                    }
                }

                tr {
                    td {
                        padding: 0.25rem;
                        color: var(--color-text-medium);
                    }
                }
            }
        }

        div.actions {
            /* col-sm-12 col-md-3 col-lg-2 */
            & div.item-estimated-price {
                background-color: var(--color-light);
                color: var(--color-text);
                margin-bottom: 1rem;
                padding: 0.5rem 1rem;
                text-align: center;
                font-size: 0.75rem;

                span {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
}

/* Item Full Page */
div.item-page {
    img.item-image {
        width: 150px;
        height: auto;
        display: block;
        position: relative;
        font-family: 'RobotoMono-Regular';
        font-weight: 300;
        line-height: 2;
        text-align: center;
        color: var(--color-text-light);

        &:before {
            display: block;
            padding-top: 2.5rem;
        }

        &:after {
            content: 'No image available';
            display: block;
            font-size: 12px;
            padding-bottom: 2.75rem;
            color: var(--color-text-darker);
        }
    }

    ul.suppliers {
        li.heading {
            color: var(--color-text-dark);
            font-size: 0.85rem;
            border-top: 1px dotted var(--color-text-dark);
        }

        li > div {
            border-bottom: 1px dotted var(--color-text-dark);
            padding: 1rem 0;
        }
    }
}
