/* Extends EOTL's Bootstrap Theme for: ui-ordering
 *
 * https://codeberg.org/eotl/theme-bootstrap
 * https://codeberg.org/eotl/ui-ordering
 */

@import url('./_categories.css');
@import url('./_items.css');
@import url('./_checkout.css');

.ui-ordering-root {
    --color-page-background: #ffffff;
    --color-text: #000000;
    --color-page-background-inverse: #000000;
    --color-text-inverse: #ffffff;

    --color-text-light: #adb5bd;
    --color-text-lighter: #cccccc;
    --color-text-medium: #777777;
    --color-text-dark: #212121;
    --color-text-darker: #111111;

    --color-link: #469408;

    --font-family: 'Roboto-Regular';

    --svg-filter: '';
    --svg-filter-inverse: '';

    font-family: var(--font-family);

    a {
        color: var(--color-link);
    }

    hr {
        height: 0px;
        border-top: 1px solid var(--color-medium);
        margin: 1rem 0;
    }

    .button {
        padding: 0.45rem;
        border: 0px;
        cursor: pointer;
        background-color: var(--color-page-background-inverse);
        color: var(--color-text-inverse);
        font-size: 0.85rem;
    }

    .button-full {
        display: block;
        width: 100%;
    }
}
