<template>
    <div class="ui-ordering-root">
        <Navbar></Navbar>
        <Alert />
        <router-view v-slot="{ Component }">
            <keep-alive>
                <component :is="Component || Home" />
            </keep-alive>
        </router-view>
    </div>
</template>

<script>
import "@/assets/ui-ordering.css"
import { Alert, createAlertContext } from '@eotl/core/components'

import Navbar from '@/components/Navbar.vue'

export default {
    name: 'App',
    components: {
        Navbar,
        Alert,
    },
    setup() {
        createAlertContext()
    },
    mounted() {
        this.init()
    },
    methods: {
        init() {
            console.log('Mounted ui-ordering')
        },
    },
}
</script>
